fastapi
starlette
uvicorn
jinja2
python-multipart
beanie
motor
pydantic
pydantic-settings
python-dotenv
pyrogram
tgcrypto
telethon
python-jose[cryptography]
passlib
argon2-cffi
aiofiles
dnspython
flask
flask-session
psutil
ffmpeg
uvloop
